/* formats the header section to have a black ground with the height of 3 inches and a centered text alignment */
header{
  background-color: black;
  text-align: center;
  height: 3in;
}

/* changes the image in the header, my profile picture, to move down from the border to give it more space. */
header img{
  margin-top: 30px;
  margin-bottom: 0px;
}

/* class assigment that is used to give the profile picture a rounded border */
.rounded{
  border-radius: 45%;
}

/* stylizes the h1 text to remove the top and bottom margins as well as assigning the font color, font type and font size. */
h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  font-family: 'Times New Roman' 'Times New Roman', Times, serif;
  font-size: 40px;
}

/* stylizes the h2 text to remove the top margins as well as assigning the font color, font type and font size. */
h2 {
  margin-top: 0px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
}

/* stylizes the h3 text to assign the font color, font type and font size as well as text-alignment on the webpage */
h3{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-size: 20px;
}

/* stylizes the h4 text to assign the font color, font type and font size as well as text-alignment on the webpage */
h4 {
  font-family: 'Comic Sans MS',serif;
  text-align: center;
  font-size: 18px;
}

/* stylizes the paragraph text to assign the font type as well as textalignment and give it 1 inch margins on the left and right sides*/
p{
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  margin-left: 1in;
  margin-right: 1in;
}
/* create a class assignment to make the navigation links have a background and to round out the borders so it look more unique and tab like */
.tab{
  background-color: lightcyan;
  border-radius: 10%;
  padding:10px;
}

/* assigns the nav section to have its text to the right*/
nav {
  text-align: right;
}

/* assigns the overall text in the div to be centered */
div {
  text-align: center
}

/* assigns the unordered list to be centered while aligning to the left*/
ul {
  display: inline-block;
  text-align: left;
}

/* assigns the ordered list to be centered while aligning to the left*/
ol {
  display: inline-block;
  text-align: left;
}

/* changes the main section of the body to have a background color of beige */
main {
  background-color: beige;

}

/* sets the color of the link to the color blue */
a:link {
  color: blue;
}

/* changes color visited link */
a:visited {
  color:darkblue;
}

/* changes color when you hover over the link */
a:hover {
  color: lightblue;
}

/* changes color for links that have been click */
a:active {
  color:dodgerblue;
}

/* styles the footer section to have a black background and white fonts with the text centered */
footer{
  text-align: center;
  background-color: black;
  color: white;
}

